.form-horizontal {
  .on-empty & {display:none;}
  .control-label {width:$labelWidth;}
  .form-group-close-section {margin-bottom:60px;}
}
.form-control-wrap {
  input[type="checkbox"] {margin-right:5px;}
  label {font-weight:normal;}
}
#offset {display:inline-block; width:80px; height:24px; margin-right:2px; text-align:center; font-size:100%;
  &.error {border-color:#c00;}
}
#sourcecode {min-height:200px; font-size:12px; line-height:130%;}
#markup-container {display:none;}