@import "shared";

$smallerFontSize:90%;

.page-live .jumbo-header {margin-bottom:15px;}
.post-jumbo-info {margin-bottom:35px; font-size:$smallerFontSize; text-align:center;}

#result {max-width:$maxWidth; margin:0 auto; padding-left:0; list-style:none;
  li {position:relative; padding-left:68px; margin-bottom:10px;}
}
.time {position:absolute; left:0; display:inline-block;}

span.edit {display:none;}

li.edit > span.edit {position: absolute; left: -30px; display: inline-block}

.form-inline {margin:50px 0 60px; text-align:center; font-weight:normal;
  label {margin-left:4px; font-weight:normal;}
}

hr {max-width:$maxWidth;}
footer {font-size:$smallerFontSize; text-align:center;}

@import "html";