// Vars
// -----------------------------------------------------------------------------

$colorPrimary:  #ef6560;
$borderPrimary: #db4d48;
$maxWidth:      600px;
$formMaxWidth:  500px;
$labelWidth:    100px;


// Components
// -----------------------------------------------------------------------------

.jumbo-header {margin-bottom:40px; padding:30px 0; background-color:$colorPrimary; color:white; text-align:center;
  h1 {margin:0;}
  img {margin:-4px 10px 0 0;}
}

.alert-info {max-width:$maxWidth; margin:0 auto 30px; background-color:$colorPrimary; border-color:$borderPrimary; color:#fff;
  h3 {margin-top:0;}
  .alert-link {color:white; font-weight:bold;}
}
.show-on-empty {display:none; text-align:center;
  .on-empty & {display:block;}
}

.form-horizontal {max-width:$formMaxWidth; margin:0 auto;
  .form-group {margin:0 0 40px;}
  .form-group-no-label {margin-left:$labelWidth;}
  .control-label {float:left; padding-top:12px; text-align:left;}
  .control-label-static {padding-top:2px;}
  .form-control {font-size:16px;
    & + .help-block {margin-top:10px;}
  }
}
.form-control-wrap {float:left; width:$formMaxWidth - $labelWidth; font-size:16px;
  input[type="checkbox"] {margin-right:5px;}
  label {font-weight:normal;}
}
.help-block {margin-bottom:0; font-size:12px;}

.footer-author {max-width:600px; margin:80px auto 0; padding:12px 0; border-top:1px solid #eee; text-align:center;}