@import "shared";

body {width:300px; padding:20px; text-align:center;}

.overlay {display:none; position:absolute; z-index:1; top:0; left:0; bottom:0; width:100%; height:100%; padding:20px; background-color:rgba(255, 255, 255, 0.9); text-align:center; font-size:18px; color:$colorPrimary;
  .glyphicon {display:block; margin-bottom:12px; font-size:24px;}
  .alert-link {font-weight:bold; color:$borderPrimary;}
}
.show-on-empty-slug, .show-on-duplicate {display:none;}
.on-duplicate .show-on-duplicate,
.on-empty-slug .show-on-empty-slug {display:table-cell; vertical-align:middle;}
.on-duplicate .overlay,
.on-empty-slug .overlay {display:table;}

.alert-info {margin-bottom:40px;
  .glyphicon {margin-right:3px;}
}
label {margin-right:20px; font-weight:normal;}
.form-inline input {margin-right:4px;}
.form-control {margin:8px 0 12px;}
#save-changes {margin-bottom:8px;}
