@import "../shared/base";

// loading
// -----------------------------------------------------------------------------
.loading {margin-top:80px; font-size: 2em; text-align: center;}

.has-no-active-shownotes, .has-active-shownotes {
  .loading {display:none;}
}

@keyframes spin {
  100% {transform:rotate(360deg);}
}
.glyphicon-refresh {animation:spin 1s linear infinite;}

// active shownotes toggle
// -----------------------------------------------------------------------------

.show-on-active-shownotes, .hide-on-active-shownotes {display:none;}
.has-active-shownotes {
  .hide-on-active-shownotes {display:none;}
  .show-on-active-shownotes {display:block;}
}

.has-no-active-shownotes {
  .hide-on-active-shownotes {display:block;}
  .show-on-active-shownotes {display:none;}
}


// without active shownotes
// -----------------------------------------------------------------------------

.slug-wrap {text-align:center;
  label {margin-right:20px; line-height:46px; vertical-align:top;}
  .input-group-wrap {display:inline-block; width:300px;}
  .help-block {text-align:left;}
}


// with active shownotes
// -----------------------------------------------------------------------------

.form-horizontal {
  .control-label {width:$labelWidth;}
  hr {margin-bottom:50px;}
}
#slug-static {margin-bottom:0;}
#title {width:200px;}
#live {margin-right:10px; background-color:#fff; ;color:$colorPrimary; font-weight:bold;
  &:hover, &:focus {background-color:#f4f4f4; color:$borderPrimary;}
}
#html {font-weight:bold;}
#blacklist {width:100%; min-height:150px;}

.tooltip-inner {background-color:#ef6560;}
.tooltip-arrow {
  .tooltip.top & {border-top-color:#ef6560;}
  .tooltip.right & {border-right-color:#ef6560;}
  .tooltip.bottom & {border-bottom-color:#ef6560;}
  .tooltip.left & {border-top-color:#ef6560;}
}