// Vars
// -----------------------------------------------------------------------------

$colorPrimary:    #ef6560;
$borderPrimary:   #db4d48;
$maxWidth:        600px;
$formMaxWidth:    500px;
$labelWidth:      100px;
$smallerFontSize: 90%;
