@import "compass";
@import "../shared/variables";
@import "bootstrap-compass";
@import "../shared/bootstrap/bootstrap-variables";
@import "../shared/bootstrap/bootstrap-custom";
@import "../shared/shared";

p {
	font-size: 20px;
}

a{
	&:hover{
		@include transition(0.2s);
	}
}


header{
	background-image: url('../img/mic.png');
	background-size: cover;

	.head {
		background-color: rgba(white, 0.7);
		padding: 1.5em 0 1.5em 0;
		vertical-align: middle;
		z-index: 9999;
		width: 100%;
		position: fixed;

		h3{
			margin: 0;
			padding: 0;
			font-size: 42px;

			img{
				vertical-align: top;
			}
		}

		a {
			display: inline-block;
		}
	}

	h1.title {
		margin: 1.5em 0 2em  0;
		text-align: center;
		font-size: 42px;
	}

	p {
		font-size: 23px;
	}

	a {
		color: #333;
	&:hover{
		text-decoration: none;
	}
	}

	.link-guide {
		margin: 0 10px 0 10px;
	}

	.link-download {
		margin: 7px;
	}
}

.page {
	padding-top: 90px;
}

@media screen and (max-width: 990px) {
    .page {
    	padding-top: 150px;
    }
}


.download {
	text-align: center;
	padding: 3em 0 4em 0;
}

.feature {
	padding-top: 3em;
	text-align: center;
	i {
		font-size: 40px;
		color: $colorPrimary;
	}
	.row {
		padding: 2em 0 2em 0;
	}
}

.roadmap {
	h2{
		text-align: center;
		font-size: 36px;
		padding: 1em 0 1em 0;

		i {
			vertical-align: bottom;
			margin-right: 10px;
		}
	}

	p {
		margin-bottom: 16px;
	}
}

.btn {
	font-weight: bold;
}

.btn-lg {
	position: relative;
	padding-left: 70px;

	i {
		position:absolute; 
		left: 20px;
		top: 50%;
		@include translateY(-50%);
		font-size: 36px;
	}
}

footer {
	text-align: center;
	padding: 2em 0 2em 0;
}

/* Guide */

.page-guide {
	figure{
		margin: 2em 0 2em;
		img {
			max-width: 100%;
			border: 1px solid #ccc;
		}
		figcaption {
			font-style: italic;
			padding-top: 0.5em;
		}
	}
}


/* Navigation */

.show-page-main{
	.page-main{
		display: block;
	}
	.page-guide{
		display: none;
	}
	.page-support{
		display: none;
	}
}

.show-page-guide{
	.page-guide{
		display: block;
	}
	.page-main{
		display: none;
	}
	.page-support{
		display: none;
	}
}

.show-page-support{
	.page-support{
		display: block;
	}
	.page-main{
		display: none;
	}
	.page-guide{
		display: none;
	}
}